@import url("https://fonts.googleapis.com/css2?family=Inconsolata&display=swap");

body {
    background-color: black;
    width: 99%;
    height: 100%;
}
div {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}
canvas {
    margin-top: 25px;
}
#gameOverText {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin: 0;
    padding: 0;
    margin-top: 20px;
    color: white;
    opacity: 0;
    font-family: "Inconsolata";
    font-weight: bold;
}